*{
	margin: 0;padding: 0;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	transition: all .3s ease;
}
body{
	height: 1300px;
}
li{
	list-style: none;
}
.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	overflow: hidden;
}
/***********************header*************************/
header{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transform: all .8s ease;
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	line-height: 60px;
	z-index: 1000;
}
header .left{
	float: left;
}
header .rigth{
	float: right;
}
header .rigth ul li{
	float: left;
	padding-left: 30px;
}
header .rigth ul li a{
	color: #fff;
	position: relative;
}
header .rigth ul li a::after{
	display: block;
	content: ' ';
	width: 0%;
	height: 2px;
	margin-top: -10px;
	background: linear-gradient(to bottom, #25f250 0%, #25f250 50%, #25bff2 51%, #25bff2 100%);
	transition: all .4s ease-out;
}
header .left a{
	color: #fff;
	font-size: 18px;
}
header .rigth ul li:hover a::after{
	width: 100%;
}
/************************************************/
.photo{
	padding: 35px 0;
}
.photo dl{
	width: 18%;
	float: left;
}
.photo dl:first-child{
	margin-left: 0;
}
.photo dl{
	margin-left: 2.5%;
}
.photo dt{
	overflow: hidden;
	width: 100%;
	height: 250px;
}
.photo dl img{
	width: 100%;
	height: 250px;
	cursor: pointer;
	transition: all 0.4s ease;
	transform: scale(1);
	
}
.photo dl img:hover{
	transform: scale(1.1);
}
/********************************/
.baner{
	width: 100%;
	background: url(../img/indexs-bg1.jpg) no-repeat;
	height: 350px;
	background-size: cover;
	background-attachment: fixed;
}

.shadow{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

#sidebar{
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0;
	width: 300px;
	background: #444;
	padding: 20px 0;
	transition: right .5s;
}
#sidebar ul a{
	display: block;
	color: #fff;
	line-height: 40px;
	padding-left: 20px;
}
#sidebar ul a:hover{
	background: #333;
}


/*******************返回顶部*******************/
.back-to-top{
	background: ccc;
	color:#333;
	padding:10px 20px;
	border: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	display: none;
}

/********************手机菜单***************************/
#checkboxs-switch{
	position: absolute;
	right: 20px;
	top: 0px;
	cursor: pointer;
	color: #fff;
	display: none;
}
#checkboxs{
	display: none;
	position: absolute;
}
#checkboxs:checked ~.rigth{
	transform: translateY(0px);
	opacity: 1;
}

	
@media only screen and (max-width:1280px ) {
	 header .left{
	    padding-left:20px ;
	}
	header .rigth{
		padding-right: 20px;
	}
}
@media only screen and (max-width: 760px) {
	header{
		line-height: 56px;
	}
	#checkboxs-switch{
		display: block;
	}
    header .left{
    	width: 100%;
	    padding-left:10px ;
	    float: none;
	}
	header .rigth{
		width: 100%;
		background-color: rgba(0,0,0,0.3);
		float: none;
		transform: translateY(-375px);
		transition: all .5s ease;
		opacity: 0;
	}
	header .rigth ul li{
		float: none;
		padding-left: 0px;
		text-align: center;
	}
}
